/* global layout*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
}
.container {
  display: flex;
  width: 86%;
  margin: 0 auto;
}
ul {
  list-style: none;
}
.clearfix {
  clear: both;
}
a {
  color: rgb(25, 161, 214);
  padding: 25px;
}
/*  left side */
aside {
  margin: 14px;
}
.left-sidebar .brand {
  width: 50px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.left-sidebar .sidebar-menu__item {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #0f1419;
  font-weight: 400;
  line-height: 24px;
  padding: 10px 20px;
  margin-top: 20px;
}

.sidebar-menu-item-icon {
  height: 1.75rem;
  margin-right: 10px;
  align-items: center;
}
.left-sidebar .sidebar-menu__item:hover {
  background-color: #e7e7e8;
  border-radius: 50px;
}
.left-sidebar button {
  background-color: rgb(29, 155, 240);
  color: #fff;
  outline: none;
  border: none;
  width: 220px;
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 40px;
  margin-top: 3rem;
  font-weight: 600;
}
.profile {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.4rem;
}
.left-sidebar .profile:hover {
  background-color: #e7e7e8;
  border-radius: 50px;
}
.left-sidebar .profile-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-image: url("../images/profile-image-1.jpg");
  background-size: cover;
}
.profile-username:after {
  display: block;
  content: "@username";
  color: rgb(105, 104, 104);
}
.dots {
  font-size: 35px;
}
/* main home  */
main {
  width: 50%;
  height: 100%;
  margin-left: 30px;
  border: 1px solid rgba(214, 212, 212, 0.418);
}
main nav {
  position: sticky;
  top: 0;
  background: #fff;
  border-bottom: 1px solid rgba(214, 212, 212, 0.418);
}
main nav h1 {
  padding: 0.5rem;
  color: rgb(66, 64, 64);
}
.post-container {
  padding: 10px 15px;
  width: 100%;
  border-bottom: 1px solid rgba(214, 212, 212, 0.466);
}
.post-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
textarea {
  margin-left: 62px;
  margin-top: -120px;
  width: 90%;
  border: none;
  border-bottom: 1px solid rgb(224, 224, 224);
}
textarea:focus {
  outline: none;
  border: none;
}
[placeholder="What's happening ?"] {
  font-size: 20px;
  color: #7b8892;
}
.main-content button {
  background-color: rgb(29 155 240 / 57%);
  color: #fff;
  outline: none;
  border: none;
  padding: 0.4rem;
  font-size: 1.1rem;
  width: 90px;
  border-radius: 20px;
  font-weight: 400;
  float: right;
}
.post-reaction {
  margin-left: 62px;
  text-align: start;
  margin-top: 10px;
  margin-bottom: 10px;
}
.post-reaction span {
  padding: 10px;
  width: 20px;
  height: 20px;
}
.post-reaction span i {
  color: #53bbff;
  font-size: 20px;
}
.post-reaction span:hover {
  background-color: #53baff36;
  padding: 10px;
  border-radius: 50%;
}
/* tweets */
.tweets {
  display: flex;
  border-bottom: 1px solid #e6ecf0;
  margin-bottom: 2px;
  padding: 10px 15px;
}

.tweets:hover {
  background: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

.tweet__author-logo {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  margin-right: 10px;
}

.tweet__header {
  display: flex;
}

.tweet__author-name {
  font-weight: 700;
  color: #14171a;
  margin-right: 5px;
}

.tweet__author-slug {
  color: #5b7083;
}

.tweet__publish-time {
  margin-left: 5px;
}

.tweet__image {
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;
}
.tweet__content {
  padding-top: 5px;
  direction: rtl;
}
.tweet__content img {
  width: 100%;
  border-radius: 15px;
  margin-top: 20px;
}
.tweet__reaction {
  padding-top: 12px;
}
.tweet__reaction span:first-child {
  padding-left: 0;
}
.tweet__reaction span {
  padding-left: 24%;
}
.tweet__reaction .retweet:hover {
  color: green;
}
.heart:hover {
  color: red;
}
.share:hover,
.comment:hover {
  color: #53bbff;
}
/* right  sidebar */
.right-sidebar {
  width: 30%;
  margin-left: 25px;
}
.right-sidebar-search {
  width: 100%;
  margin-bottom: 25px;
}
.right-sidebar-search i {
  color: rgb(100, 16, 16);
}
.right-sidebar-search input {
  width: 100%;
  border-radius: 35px;
  background-image: url("../images/free-search.png");
  background-size: 18px 18px;
  background-position: 7% center;
  background-repeat: no-repeat;
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 15px;
}
[placeholder="Search Twitter"] {
  text-align: center;
}

.right-sidebar-search input:focus {
  border: 1px solid rgb(25, 161, 214);
  outline: none;
}
/* trands */
.trends-for-you {
  border-radius: 15px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.trends-for-you__block {
  padding: 10px 15px;
}

.trends-for-you__heading {
  font-size: 19px;
  font-weight: bold;
  padding: 15px;
  color: #14171a;
}

.trends-for-you__trend-name img {
  width: 30%;
  border-radius: 10px;
  float: right;
  margin: 4px;
}

.trends-for-you__meta-information {
  font-size: 13px;
  font-weight: 300;
}

.trends-for-you__trend-name {
  color: #14171a;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 2px;
}

/* follow */
.who-to-follow {
  background: #f5f8fa;
  border-radius: 15px;
  padding-bottom: 10px;
}
.who-to-follow__heading {
  padding: 15px;
}
.who-to-follow__block {
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

.who-to-follow__author-logo {
  width: 49px;
  height: 49px;
  border-radius: 50px;
  margin-right: 10px;
}

.who-to-follow__button {
  border-radius: 40px;
  border: 1px solid #ccc;
  padding: 10px 30px;
  background-color: #14171a;
  color: #fff;
  float: right;
  margin-left: 80px;
}

/* repeating style  */
.who-to-follow__block:hover,
.trends-for-you__block:hover {
  background: #eff3f4;
}

.right-sidebar-search input,
.trends-for-you {
  background-color: #eff3f4;
}

.tweet__publish-time,
.trends-for-you__meta-information,
.who-to-follow__author-slug {
  color: #657786;
}
.profile-username:after,
.tweet__author-name,
.tweet__author-slug,
.trends-for-you__trend-name {
  font-size: 15px;
}
